.header {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    pointer-events: none;
    justify-content: space-between;
}

.progress {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 5px;
    border-top: 1px solid var(--background);
    border-bottom: 1px solid var(--background);
    pointer-events: none;
    width: var(--scrollPercentage, 0);
    background-color: var(--foreground);
}

body > .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    right: 0;
    bottom: -20px;
    pointer-events: none;
    background: linear-gradient(
    rgba(255, 255, 255, 1) 0%, 
    rgba(255, 255, 255, 0.987) 8.1%, 
    rgba(255, 255, 255, 0.951) 15.5%, 
    rgba(255, 255, 255, 0.896) 22.5%, 
    rgba(255, 255, 255, 0.825) 29%, 
    rgba(255, 255, 255, 0.741) 35.3%, 
    rgba(255, 255, 255, 0.648) 41.2%, 
    rgba(255, 255, 255, 0.55) 47.1%, 
    rgba(255, 255, 255, 0.45) 52.9%, 
    rgba(255, 255, 255, 0.352) 58.8%, 
    rgba(255, 255, 255, 0.259) 64.7%, 
    rgba(255, 255, 255, 0.175) 71%, 
    rgba(255, 255, 255, 0.104) 77.5%, 
    rgba(255, 255, 255, 0.049) 84.5%, 
    rgba(255, 255, 255, 0.013) 91.9%, 
    rgba(255, 255, 255, 0) 100%
    );
    opacity: 0;
    transition: opacity .4s ease-in-out;
}

.header a {
    display: inline-block;
    padding: 10px 0;
    text-transform: uppercase;
}

.header * {
    pointer-events: auto;
}

.mainList {
    display: flex;
    gap: 20px;
}

.mainList li * {
    margin: 0;
}

.mainList li {
    position: relative;
}

.mainList li a {
    color: inherit;
    transition: color .3s ease-in-out;
}

.mainList li:hover a,
.mainList li a.active {
    color: var(--sec_color);
}

.mainList > li > ul {
    position: absolute;
    padding: 0;
    list-style: unset;
    z-index: 1;
    right: 50%;
    min-width: 200px;
    transform: translate(50%, 20px);
    background-color: var(--sec_color);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);    
    transition: clip-path .2s ease-in .1s, transform .2s ease-in;
}

.mainList > li:hover > ul li a {
    color: #fff;
}

.mainList > li:hover > ul {
    transform: translate(50%, 0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: clip-path .2s ease-in, transform .2s ease-in;
}

.mainList > li > ul li a {
    padding: 7px 14px;
    width: 100%;
}

.mainList > li > ul li a:hover {
    color: var(--main_color);
}

.mainList > li > ul li:last-child {
    padding-top: 0;
}

.togglerInput {
    display: none;
}

.header .toggler {
    padding: 7px 14px;
    display: none;
}

@media only screen and (max-width: 1024px) {
    .header {
        flex-direction: column;
    }
    .header .mainList {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        gap: 10px;
        flex-direction: column;
        transition: max-height .3s ease-in-out, padding .4s ease-in;
    }
    .header::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        pointer-events: none;        
        background-color: #fff;
        border-bottom: 1px solid var(--foreground);
        transform: translateY(-100%);
        transition: transform .345s ease-in-out;
    }
    .header .mainList a {
        padding: 5px 20px 5px 0;
    }
    .header .toggler {
        display: block;
    }
    .togglerInput:checked + .header .mainList {
        padding: 20px 0;
        max-height: 100vh;
    }
    .togglerInput:checked + .header::after {
        transform: translateY(0);
    }
}